<div class="container mt-4">
  <div *ngIf="product" class="row">
    <div class="col-6">
      <img src="{{ product.pictureUrl }}" class="img-fluid w-100" />
    </div>
    <div class="col-6">
      <h4>{{ product.name }}</h4>
      <p style="font-size: 2em;">{{ product.price | currency }}</p>
      <div class="d-flex justify-contnt-start align-items-center">
        <i
          (click)="decrementItemQuantity()"
          class="fas fa-minus-circle text-warning mr-2"
          style="cursor: pointer; font-size: 2em;"
        ></i>
        <span class="font-weight-bold" style="font-size: 1.5em;">{{
          quantity
        }}</span>
        <i
          (click)="incrementItemQuantity()"
          class="fas fa-plus-circle text-warning mx-2"
          style="cursor: pointer; font-size: 2em;"
        ></i>
        <button
          class="btn btn-outline-secondary btn-lg ml-4"
          (click)="addItemToBasket()"
        >
          Add to Cart
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h6>Description</h6>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </div>
  '@productDetails'
</div>
