<div class="card shadow-sm h-100">
  <div class="image position-relative" style="cursor: pointer;">
    <img
      src="{{ product.pictureUrl }}"
      alt="{{ product.name }}"
      class="img-fluid bg-info"
    />
    <div class="d-flex align-items-center justify-content-center hover-overlay">
      <button
      (click)="addToBasket()"
        type="button"
        class="btn btn-primary fas fa-shopping-cart"
      ></button>
      <button
        routerLink="/shop/{{ product.id }}"
        type="button"
        class="btn btn-primary ml-2"
      >
        View
      </button>
    </div>
  </div>
  <div class="card-body d-flex flex-column">
    <a routerLink="/shop/{{ product.id }}">
      <h6 class="text-uppercase mb-3">{{ product.name }}</h6>
    </a>
    <span>{{ product.price | currency }}</span>
  </div>
</div>
